:root {
  --primary1: #dad7cdff;
  --primary2: #a3b18aff;
  --primary3: #588157ff;
  --primary4: #3a5a40ff;
  --primary5: #344e41ff;
  --secondary1: #ff99c8ff;
  --secondary2: #fcf6bdff;
  --secondary3: #d0f4deff;
  --secondary4: #a9def9ff;
  --secondary5: #e4c1f9ff;
  --medium1: #f8f9faff;
  --medium2: #e9ecefff;
  --medium3: #dee2e6ff;
  --medium4: #ced4daff;
  --medium5: #adb5bdff;
  --medium6: #6c757dff;
  --medium7: #495057ff;
  --medium8: #343a40ff;
  --medium9: #212529ff;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--medium1);
  font-family: Georgia, "Times New Roman", Times, serif;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 2px 0;
}
h5,
h6,
p {
  margin: 0;
}
.noteApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  min-width: 540px;
  margin: 10vh auto;
}
.noteApp .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--medium3);
}
.noteApp .header h2 {
  font-size: 32px;
  color: var(--medium8);
}
.noteApp .header button {
  background-color: var(--secondary3) !important;
  margin-bottom: 4px;
  padding: 4px 8px;
}
.noteApp .header .add {
  position: absolute;
  top: 4px;
  right: 16%;
  width: 32px;
  height: 32px;
  background-color: var(--secondary3);
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}
.noteApp .header .add:hover {
  background-color: var(--secondary3);
  color: var(--medium1);
}
.noteApp .content {
  margin: 10px 0 !important;
}
.note {
  width: 100%;
  height: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.note #noteList {
  width: 100%;
  padding: 0;
  margin: 0 !important;
}
.note #noteList li {
  height: 16vh;
  min-height: 300px;
  padding: 16px 0;
  padding-right: 16px;
}
.note #noteList li:nth-child(3n) {
  padding-right: 0;
}
.note #noteList li .Card {
  width: 100%;
  height: 100%;
  background-color: var(--medium1);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.note #noteList li .Card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.note #noteList li .Card .card-note {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
.note #noteList li .Card .card-note .card-header {
  flex: 1;
  background-color: var(--secondary3);
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-top: 6px;
}
.note #noteList li .Card .card-note .card-header .note-info h4,
.note #noteList li .Card .card-note .card-header .note-info p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
.note #noteList li .Card .card-note .card-header .note-info h4:focus,
.note #noteList li .Card .card-note .card-header .note-info p:focus {
  outline: none;
}
.note #noteList li .Card .card-note .card-header .note-info h4 {
  font-size: 20px;
  color: var(--medium9);
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
}
.note #noteList li .Card .card-note .card-header p {
  width: fit-content;
  margin-top: 2px;
  font-size: 12px;
  padding: 0 6px;
  color: var(--medium4);
  background-color: var(--medium6);
  border-radius: 4px;
}
.note #noteList li .Card .card-note .note-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50px;
  padding-top: 10px;
  padding-right: 16px;
}
.note #noteList li .note-body {
  flex: 4;
  background-color: var(--medium1);
  color: var(--primary5);
  font-family: Times, serif;
}
.note #noteList li .note-body .textarea {
  padding: 6px 16px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.note #noteList li .note-body .textarea:focus {
  outline: none;
}
.note #noteList li .note-date {
  position: absolute;
  bottom: 6px;
  right: 12px;
  font-size: 12px;
  font-family: monospace;
}
